body {margin: 20px}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse; 
}

th, td {
    padding: 5px;
    text-align: left;
    vertical-align: top;
}


.eingabe  {
    border: 1px solid white;
    border-collapse: collapse; 
}